.App {
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 6vh 1vw;
  margin-top: 6vh;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.color-cell {
  display: grid;
  place-items: center;
  font-size: 12px;
}

.color-cell p {
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.color-cell:hover p {
  opacity: 1;
}

.header {
  width: 100%;
  height: 60px;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 1rem 0;
}

.footer a {
  box-shadow: inset 0 0 0 0 #131313;
  color: #131313;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  margin-left: 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footer a:hover {
  box-shadow: inset 125px 0 0 0 #131313;
  color: white;
}

.color-picker {
  color: black;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visitGithub {
  right: 0px;
  top: 5rem;
  position: absolute;
  transition: transform 0.3s;
  display: block;
}

.visitGithubBtn {
  border: none;
  padding: 8px;
  display: block;
  right: 0px;
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: black;
}

.visitGithub:hover {
  transform: scale(1.1);
  cursor: pointer;
}

html {
  overflow-x: hidden;
}
